.main
    @include adaptiv-value('padding-top', 120, 50, 1)
    @include adaptiv-value('padding-bottom', 120, 50, 1)
    &__container 
    &__wrapper
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
    &__form 
    
    &__range 
    &__body 
        margin-top: 40px
        display: flex
        align-items: center
        justify-content: center

    &__box
        display: flex
        justify-content: center
        align-items: center 
        min-width: 250px
        min-height: 250px

        background: #e14242
        border-radius: 10%
        border: 2px solid #111
    &__text 
        font-size: 30px
        font-weight: 600
        color: #fff
        span
            font-size: 30px
            font-weight: 600
            color: #fff

